<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="60">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p %c{1}:%L - %m%n"/>
        </Console>
        <Async name="ASYNC" includeLocation="true">
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
        </Root>
        <Logger name="l_service" level="warn" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
        <Logger name="Reporting" level="warn" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
        <Logger name="Tickets" level="warn" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
    </Loggers>
</Configuration>
